{
	"Application": {
		"DataConnections": [
			{
				"Active": true,
				"ConnectTimeout": 30,
				"DataSourceName": "NorthWind_Pgs",
				"Host": "local-postgres",
				"Password": "<user password>",
				"Port": 5432,
				"UserName": "DevUser"
			}
		]
	}
}
