{
	"Application": {
		"DataSources": [
			{
				"Active": true,
				"ConnectTimeout": 30,
				"DataSource": "NorthWind",
				"DataSourceType": "SqlServer",
				"Host": "local-mssql",
				"Password": "<user password>",
				"Port": 1433,
				"UserName": "DevUser",
				"Schema": "dbo"
			}
		]
	}
}
